## Environment variables for docker-compose command

## Built image name
PHP_IMAGE_NAME=local/yiisoftware/yii2-php
PHP_IMAGE_VERSION_SUFFIX=
PECL_XDEBUG_INSTALL_SUFFIX=
PECL_MONGODB_INSTALL_SUFFIX=

## Apache
COMPOSE_PROJECT_NAME=yii2apache
COMPOSE_FILE=docker-compose.yml:docker-compose.apache.yml
DOCKERFILE_FLAVOUR=debian
PHP_BASE_IMAGE_VERSION=8.0-apache
X_LEGACY_GD_LIB=0

## Runtime settings
# Xdebug (calling the xdebug.remote_host on 9005 port)
PHP_ENABLE_XDEBUG=0

## Application environment variables
APP_NAME=book

PHP=php
PHP_PORT=8000
PHP_CONTAINER=${APP_NAME}-php

DB=db
DB_USERNAME=user
DB_PASSWORD=password
DB_NAME=book
DB_SERVICE_NAME=postgres
DB_PORT=5432
DB_CONTAINER=${APP_NAME}-db

APP_ENV=${APP_NAME}
